<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" type="text/css" href="lib/reset.css">
    <link rel="stylesheet" type="text/css" href="lib/index.css">
</head>

<body>
    <div id="app">
        <el-container>
            <el-aside class="cb-sidebar-back">

                <el-row class="tac">
                    <el-col>
                        <el-menu default-active="2" class="cb-sidebar el-menu-vertical-demo" @open="handleOpen"
                            @close="handleClose">

                            <el-menu-item index="0">
                                <i class=" el-icon-fa-align-left fas"></i>
                                <img src="images/panel-logo-menu.png"></img>
                            </el-menu-item>

                            <el-menu-item index="1">
                                <i class="el-icon-fa-compass fas"></i>
                                <span>Dashboard</span>
                            </el-menu-item>

                            <el-menu-item index="2">
                                <i class="el-icon-fa-store fas"></i>
                                <span>Marketplace</span>
                            </el-menu-item>

                            <el-submenu index="3">
                                <template slot="title">
                                    <i class="el-icon-fa-user-friends fas"></i>
                                    <span>Accounts</span>
                                </template>
                                <el-menu-item index="3-1">Customers</el-menu-item>
                                <el-menu-item index="3-2">Agents</el-menu-item>
                            </el-submenu>
                            <el-menu-item index="4">
                                <i class="el-icon-fa-shopping-bag fas"></i>
                                <span>Subscriptions</span>
                            </el-menu-item>
                            <el-menu-item index="5" click="alert('111');window.open('test-kit.html')">
                                <i class="el-icon-fa-paint-roller fas"></i>
                                <span>UI Kit</span>
                            </el-menu-item>
                            <div style="height:100%"></div>
                        </el-menu>
                    </el-col>
                </el-row>
                <el-row class="tac cb-sidebar-bottom">
                    <el-col>
                        <el-menu default-active="" class="cb-sidebar el-menu-vertical-demo">
                            <el-menu-item index="1">
                                <i class="el-icon-fa-cog  fas"></i>
                                <span>Settings</span>
                            </el-menu-item>
                            <el-menu-item index="2">
                                <i class="el-icon-fa-life-ring  fas"></i>
                                <span>Support</span>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-container>
                <el-header height="auto">
                    <el-row align="medium" class="cb-topbar">
                        <el-col :span="8">
                            <h1 class="cb-topbar-label">
                                Marketplace
                            </h1>
                        </el-col>
                        <el-col :span="8" align="center">
                            </el-input>
                            <el-input placeholder="Search" width="376px" size="medium"
                                prefix-icon="el-icon-fa-search fas">
                        </el-col>
                        <el-col :span="8" align="right">
                            <el-badge is-dot class="item">
                                <a href="https://www.ele.me" target="_blank">
                                    <i class="el-icon-fa-bell fas cb-topbar-icon"></i></a>
                            </el-badge>
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <el-badge :value="12" class="item" type="primary">
                                <a href="https://www.ele.me" target="_blank">
                                    <i class="el-icon-fa-shopping-cart fas cb-topbar-icon"></i></a>
                            </el-badge>
                        </el-col>
                    </el-row>
                    <el-row>
                        <table>
                            <tr>
                                <td>
                                    <el-menu :default-active="activeIndex" class="cb-topmenu" mode="horizontal"
                                        @select="handTopMenuleSelect" menu-trigger="click">
                                        <el-submenu index="1" popper-class="cb-topmenu-submenu">
                                            <template slot="title">Categories</template>
                                            <el-submenu index="1-1" class="cb-topmenu-submenu-item"
                                                popper-class="cb-topmenu-submenu">
                                                <template slot="title">Backup and Disaster Recovery</template>
                                                <el-menu-item index="1-1-1" class="cb-topmenu-submenu-item">item one
                                                </el-menu-item>
                                                <el-menu-item index="1-1-2" class="cb-topmenu-submenu-item">item two
                                                </el-menu-item>
                                                <el-menu-item index="1-1-3" class="cb-topmenu-submenu-item">item three
                                                </el-menu-item>
                                            </el-submenu>
                                            <el-menu-item index="1-2" class="cb-topmenu-submenu-item">Business
                                                Applications</el-menu-item>
                                            <el-menu-item index="1-3" class="cb-topmenu-submenu-item">Cloud Enablement
                                                Services</el-menu-item>
                                        </el-submenu>
                                        <el-menu-item index="2"><i class="el-icon-fa-bookmark fas el-icon--left"></i>My
                                            favorites</i></el-menu-item>
                                    </el-menu>
                                </td>
                            </tr>
                        </table>
                    </el-row>
                </el-header>
                <el-main>
                    <el-divider></el-divider>
                    <!---------------------------------------------------------------CONTENT---->
                    <!-- Header -->
                    <table width="100%">
                        <tr>
                            <td>
                                <h3>You recently sold it</h3>
                            </td>
                            <td align="right">
                                <el-link type="primary">See all</el-link>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <!-- Plans -->
                    <el-row :gutter="12">
                        <el-col :span="8">
                            <!-- Plan -->
                            <div onclick="alert('clicked')">
                                <table class="cb-marketplace-plan" width="100%">
                                    <tr>
                                        <td rowspan="">
                                            <img class="cb-marketplace-plan-icon-medium"
                                                src="images/services/o365.png"></img>
                                        </td>
                                        <td class="plan-content">
                                            <div class="plan-label">Microsoft Office 365</div>
                                            <div class="plan-vendor">Microsoft</div>
                                            <div>
                                                <el-tag size="mini" effect="dark" type="success">Trial Available
                                                </el-tag>
                                                <br />
                                                <el-tag size="mini" effect="dark" type="danger">Discounts</el-tag>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <!-- Plan -->
                            <table class="cb-marketplace-plan">
                                <tr>
                                    <td rowspan="">
                                        <img class="cb-marketplace-plan-icon-medium"
                                            src="images/services/acronis.png"></img>
                                    </td>
                                    <td class="plan-content">
                                        <div class="plan-label">Acronis O365 Backup</div>
                                        <div class="plan-vendor">Acronis</div>
                                        <div>
                                            <span class="plan-price">up to 25.00%</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </el-col>
                        <el-col :span="8">
                            <!-- Plan -->
                            <table class="cb-marketplace-plan">
                                <tr>
                                    <td rowspan="">
                                        <img class="cb-marketplace-plan-icon-medium"
                                            src="images/services/dropbox.png"></img>
                                    </td>
                                    <td class="plan-content">
                                        <div class="plan-label">Dropbox Business: Advanced</div>
                                        <div class="plan-vendor">Dropbox</div>
                                        <div>
                                            <el-tag size="mini" effect="dark" type="warning">Special Price</el-tag>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </el-col>
                    </el-row>
                    <!-- Product -->
                    <h3>Product Page</h3>
                    <el-row :gutter="24">
                        <el-col :span=" 24">
                            <!-- Product -->
                            <div class="cb-marketplace-product">
                                <!-- Header -->
                                <div class="header">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <img class="cb-marketplace-plan-icon-large"
                                                    src="images/services/o365.png"></img>
                                            </td>
                                            <td class="content" width="100%">
                                                <div class="product">Microsoft Office 365</div>
                                                <div class="vendor">Microsoft</div>
                                            </td>
                                            <td align="right">
                                                <el-button class="cb-button-contrast" size="medium"><i
                                                        class="el-icon-fa-bookmark fas el-icon--left"></i>Add to
                                                    favorites
                                                </el-button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- Description-->
                                <div class="cb-page-description">
                                    Work anywhere, anytime on any device. Office 365 provides a complete set of tools to
                                    increase productivity and collaboration, whether you're working in the office or on
                                    the go.
                                </div>
                                <!-- Tabbar -->
                                <el-tabs v-model="activeName" @tab-click="handleClick" class="cb-tabs-large">
                                    <el-tab-pane label="Pricing" name="first"></el-tab-pane>
                                    <el-tab-pane label="Overview" name="second"></el-tab-pane>
                                    <el-tab-pane label="Sales & Marketing materials" name="third"></el-tab-pane>
                                </el-tabs>
                                <el-tabs v-model="activeName" @tab-click="handleClick" class="cb-tabs-medium">
                                    <el-tab-pane label="Pricing" name="first"></el-tab-pane>
                                    <el-tab-pane label="Overview" name="second"></el-tab-pane>
                                    <el-tab-pane label="Sales & Marketing materials" name="third"></el-tab-pane>
                                </el-tabs>
                                <el-tabs v-model="activeName" @tab-click="handleClick" class="cb-tabs-small">
                                    <el-tab-pane label="Pricing" name="first"></el-tab-pane>
                                    <el-tab-pane label="Overview" name="second"></el-tab-pane>
                                    <el-tab-pane label="Sales & Marketing materials" name="third"></el-tab-pane>
                                </el-tabs>
                                <!-- -->
                                <!-- Plans Header -->
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <h3>4 Service plans</h3>
                                        </td>
                                        <td align="right">
                                            <el-button type="default" icon="el-icon-fa-file-download fas" size="medium">
                                                Export<i class="el-icon-fa-angle-down fas el-icon--right"></i>
                                            </el-button>
                                            <el-button type="default" icon="el-icon-fa-columns fas" size="medium">
                                                <i class="el-icon-fa-angle-down fas el-icon--right"></i>
                                            </el-button>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <!-- Plans Table -->
                                <el-table border :data="tableData" stripe style="width: 100%"
                                    @row-click="planDrawer = true" row-class-name="cb-clickable">
                                    <el-table-column prop="plan" label="Service Plan">
                                        <template slot-scope="scope">
                                            <b>{{ scope.row.plan }}</b>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="period" label="Subs. period">
                                    </el-table-column>
                                    <el-table-column prop="msrp" label="MSRP" align="right">
                                        <template slot-scope="scope">
                                            {{ scope.row.msrp }}<br />
                                            <small>/mo</small>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="margin" label="Margin" align="right">
                                        <template slot-scope=" scope">
                                            <span class="success"><b>{{ scope.row.margin }}</b></span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="actions" label="" align="right">
                                        <template slot-scope="scope">
                                            <el-button type="text primary">Add to cart</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </div>
                        </el-col>
                    </el-row>
                    <!----------------------------------- PLAN DRAWER ------------------->
                    <el-drawer :visible.sync="planDrawer" :modal="false" :direction="planDrawerDirection"
                        :with-header="false" custom-class="cb-marketplace-drawer-plan">
                        <!-- Header -->
                        <div class="header">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <img class="cb-marketplace-plan-icon-large"
                                            src="images/services/o365.png"></img>
                                    </td>
                                    <td class="content" width="100%">
                                        <div class="plan">Microsoft Office 365</div>
                                        <div class="vendor">Microsoft</div>
                                    </td>
                                    <td align="righ">
                                        <el-button type="text info" size="medium" icon="el-icon-fa-times fas"
                                            @click="planDrawer = false">
                                        </el-button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- Prices-->
                        <br />
                        <table class="prices" width="100%">
                            <tr>
                                <td>
                                    <span class="info">Period</span>
                                </td>
                                <td>
                                    <span class="info">Cost</span>
                                </td>
                                <td>
                                    <span class="info">Margin</span>
                                </td>
                                <td>
                                    <span class="info">List price</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2>
                                        1 Year
                                    </h2>
                                </td>
                                <td>
                                    <h2>$4.00</h2>
                                </td>
                                <td>
                                    <h2><span class="success"><b>0%</b></span></h2>
                                </td>
                                <td>
                                    <h2>$4.00</h2>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <br>
                        <!-- Buttons -->
                        <el-row>
                            <el-col :span="24">
                                <el-button size="medium" type="primary" icon="el-icon-fa-shopping-cart fas">Buy now
                                </el-button>
                                <el-button size="medium" type="info" icon="el-icon-fa-cart-plus fas">Add to cart
                                </el-button>
                                <el-button type="default" icon="el-icon-fa-file-download fas" size="medium">
                                    Export<i class="el-icon-fa-angle-down fas el-icon--right"></i>
                                </el-button>
                                <el-button type="default" icon="el-icon-fa-columns fas" size="medium">
                                    <i class="el-icon-fa-angle-down fas el-icon--right"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                        <br><br>
                        <el-table border :data="planDrawerData" stripe style="width: 100%">
                            <el-table-column prop="plan" label="Service plan">
                                <template slot-scope="scope">
                                    <b>{{ scope.row.plan }}</b>
                                </template>
                            </el-table-column>
                            <el-table-column prop="cost" label="Cost" align="right">
                                <template slot-scope="scope">
                                    {{ scope.row.cost }}
                                </template>
                            </el-table-column>
                            <el-table-column prop="margin" label="Margin" align="right">
                                <template slot-scope=" scope">
                                    <span class="success"><b>{{ scope.row.margin }}</b></span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="price" label="List price">
                                <template slot-scope="scope">
                                    <b>{{ scope.row.price }}</b>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-drawer>
                    <!-- /Product -->
                    <!---------------------------------------------------------------/CONTENT---->
                    <el-divider></el-divider>
                    <h2>UI Kit</h3>
                        <el-row :gutter="12">
                            <el-col :span="8">
                                <el-card shadow="always">
                                    <div>
                                        <h3>Account</h3>
                                    </div>
                                    <br />
                                    <div>
                                        <span>
                                            Some text content
                                        </span>
                                    </div>
                                    <br />
                                    <div>
                                        <el-dropdown>
                                            <el-link type="primary">Manage<i
                                                    class="el-icon-fa-angle-down fas el-icon--right"></i>
                                            </el-link>
                                            <el-dropdown-menu slot="dropdown">
                                                <el-dropdown-item>Action 1</el-dropdown-item>
                                                <el-dropdown-item>Action 2</el-dropdown-item>
                                                <el-dropdown-item>Action 3</el-dropdown-item>
                                                <el-dropdown-item>Action 4</el-dropdown-item>
                                                <el-dropdown-item>Action 5</el-dropdown-item>
                                            </el-dropdown-menu>
                                        </el-dropdown>
                                        <el-link type="danger">Delete</el-link>
                                        </el-footer>
                                    </div>
                                </el-card>
                            </el-col>
                            <el-col :span="8">
                                <el-card shadow="never">
                                    <div>
                                        <h3>User Card</h3>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                        <br />
                        <el-row>
                            <el-col :span="20">
                                Regular Buttons:
                                <el-dropdown>
                                    <el-button>Default<i class="el-icon-fa-angle-down fas el-icon--right"></i>
                                    </el-button>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item>Action 1</el-dropdown-item>
                                        <el-dropdown-item>Action 2</el-dropdown-item>
                                        <el-dropdown-item>Action 3</el-dropdown-item>
                                        <el-dropdown-item>Action 4</el-dropdown-item>
                                        <el-dropdown-item>Action 5</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                                <el-button type="primary" icon="el-icon-fa-share fas">Primary</el-button>
                                <el-button type="success">Success</el-button>
                                <el-button type="info">Info</el-button>
                                <el-button type="warning">Warning</el-button>
                                <el-button type="danger">Danger</el-button>
                            </el-col>
                            <el-col :span="3" style="background-color:blue; padding:20px;">
                                <el-button class="cb-button-contrast">Contrast</el-button>
                            </el-col>
                        </el-row>
                        <br />
                        <el-row>
                            Plain Buttons:
                            <el-button plain>Default</el-button>
                            <el-button type="primary" plain>Primary</el-button>
                            <el-button type="success" plain>Success</el-button>
                            <el-button type="info" plain>Info</el-button>
                            <el-button type="warning" plain>Warning</el-button>
                            <el-button type="danger" plain>Danger</el-button>
                        </el-row>
                        <br />
                        <el-row>
                            Sizes:
                            <el-button>Large</el-button>
                            <el-button type="primary" size="medium">Medium</el-button>
                            <el-button type="success" size="small">Small</el-button>
                            <el-button type="success" size="small" plain>Small</el-button>
                        </el-row>
                        <br /><br />
                        <el-row>
                            <el-button type="text default">Text Button<i
                                    class="el-icon-fa-angle-down fas el-icon--right"></i>
                            </el-button>
                            <el-button type="text primary">Text Button<i
                                    class="el-icon-fa-angle-down fas el-icon--right"></i>
                            </el-button>
                            <el-button type="text info">Text Button<i
                                    class="el-icon-fa-angle-down fas el-icon--right"></i>
                            </el-button>
                            <el-button type="text danger">Text Button<i
                                    class="el-icon-fa-angle-down fas el-icon--right"></i>
                            </el-button>
                            <el-button type="text success">Text Button<i
                                    class="el-icon-fa-angle-down fas el-icon--right"></i>
                            </el-button>
                            <el-button type="text warning">Text Button<i
                                    class="el-icon-fa-angle-down fas el-icon--right"></i>
                            </el-button>
                        </el-row>
                        <br />
                        <el-row>
                            <el-cell :span="12">
                                <el-input placeholder=" Please input" v-model="input">
                                </el-input>
                                <el-input placeholder="Please input" v-model="input" :disabled="true">
                                </el-input>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Dark Tags:
                                <el-tag size="mini" effect="dark" type="primary">Primary</el-tag>
                                <el-tag size="mini" effect="dark" type="warning">Warning</el-tag>
                                <el-tag size="mini" effect="dark" type="info">Info</el-tag>
                                <el-tag size="mini" effect="dark" type="danger">Danger</el-tag>
                                <el-tag size="mini" effect="dark" type="success">Success</el-tag>
                                <br /><br />Plain Tags:
                                <el-tag size="mini" effect="plain">Primary</el-tag>
                                <el-tag size="mini" effect="plain" type="warning">Warning</el-tag>
                                <el-tag size="mini" effect="plain" type="info">Info</el-tag>
                                <el-tag size="mini" effect="plain" type="danger">Danger</el-tag>
                                <el-tag size="mini" effect="plain" type="success">Success</el-tag>
                                <br /><br />Light Tags:
                                <el-tag size="mini" effect="light">Primary</el-tag>
                                <el-tag size="mini" effect="light" type="warning">Warning</el-tag>
                                <el-tag size="mini" effect="light" type="info">Info</el-tag>
                                <el-tag size="mini" effect="light" type="danger">Danger</el-tag>
                                <el-tag size="mini" effect="light" type="success">Success</el-tag>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Radio Buttons Large
                                <el-radio v-model="radio" class="cb-size-large" label="1">Selected</el-radio>
                                <el-radio v-model="radio" class="cb-size-large" label="2">Unselected</el-radio>
                                <el-radio disabled v-model="radio" class="cb-size-large" label="disabled">Disabled
                                </el-radio>
                            </el-cell>
                        </el-row>
                        <br />
                        <el-row>
                            <el-cell>
                                Radio Buttons Medium
                                <el-radio v-model="radio" class="cb-size-medium" label="1">Selected</el-radio>
                                <el-radio v-model="radio" class="cb-size-medium" label="2">Unselected</el-radio>
                                <el-radio disabled v-model="radio" class="cb-size-medium" label="disabled">Disabled
                                </el-radio>
                            </el-cell>
                        </el-row>
                        <br />
                        <el-row>
                            <el-cell>
                                Radio Buttons Small
                                <el-radio v-model="radio" class="cb-size-small" label="1">Selected</el-radio>
                                <el-radio v-model="radio" label="2" class="cb-size-small">Unselected</el-radio>
                                <el-radio disabled v-model="radio" class="cb-size-small" label="disabled">Disabled
                                </el-radio>
                            </el-cell>
                        </el-row>
                        <br />
                        <el-row>
                            <el-cell>
                                Radio Buttons with border
                                <el-radio v-model="radio" label="1" class="cb-size-large" border>Selected</el-radio>
                                <el-radio v-model="radio" label="2" class="cb-size-medium" size="medium" border>
                                    Unselected</el-radio>
                                <el-radio disabled v-model="radio" class="cb-size-small" size="small" label="disabled"
                                    border>Disabled
                                </el-radio>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Checkboxes Large:
                                <el-checkbox v-model="checked1" class="cb-size-large" label="1">Selected</el-checkbox>
                                <el-checkbox v-model="checked2" class="cb-size-large" label="2">Unselected</el-checkbox>
                                <el-checkbox disabled v-model="checked2" class="cb-size-large" label="disabled">Disabled
                                </el-checkbox>
                            </el-cell>
                        </el-row>
                        <br />
                        <el-row>
                            <el-cell>
                                Checkboxes Medium:
                                <el-checkbox v-model="checked1" class="cb-size-medium" label="1">Selected</el-checkbox>
                                <el-checkbox v-model="checked2" label="2" class="cb-size-medium">Unselected
                                </el-checkbox>
                                <el-checkbox disabled v-model="checked2" class="cb-size-medium" label="disabled">
                                    Disabled
                                </el-checkbox>
                            </el-cell>
                        </el-row>
                        <br />
                        <el-row>
                            <el-cell>
                                Checkboxes Small:
                                <el-checkbox v-model="checked1" class="cb-size-small" label="1">Selected</el-checkbox>
                                <el-checkbox v-model="checked2" label="2" class="cb-size-small">Unselected</el-checkbox>
                                <el-checkbox disabled v-model="checked2" class="cb-size-small" label="disabled">Disabled
                                </el-checkbox>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Checkboxes Buttons with border
                                <el-checkbox v-model="checked1" label="1" class="cb-size-large" border>Selected
                                </el-checkbox>
                                <el-checkbox v-model="checked2" label="2" class="cb-size-medium" size="medium" border>
                                    Unselected</el-checkbox>
                                <el-checkbox disabled v-model="radio" class="cb-size-small" size="small"
                                    label="disabled" border>Disabled
                                </el-checkbox>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Avatar
                                <el-avatar :size="large" :src="circleUrl"></el-avatar>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                <el-badge :value="12" class="item">
                                    <el-button size="small">comments</el-button>
                                </el-badge>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <el-badge :value="3" class="item">
                                    <el-button size="small">replies</el-button>
                                </el-badge>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <el-badge :value="1" class="item" type="primary">
                                    <el-button size="small">comments</el-button>
                                </el-badge>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <el-badge :value="2" class="item" type="warning">
                                    <el-button size="small">replies</el-button>
                                </el-badge>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Switch (Large):
                                <el-switch class="cb-size-large" v-model="switch1">
                                </el-switch>
                                <el-switch class="cb-size-large" v-model="switch2">
                                </el-switch>
                            </el-cell>
                            <el-cell>
                                Switch (Medium):
                                <el-switch class="cb-size-medium" v-model="switch1">
                                </el-switch>
                                <el-switch class="cb-size-medium" v-model="switch2">
                                </el-switch>
                            </el-cell>
                            <el-cell>
                                Switch (Small):
                                <el-switch class="cb-size-small" v-model="switch1">
                                </el-switch>
                                <el-switch class="cb-size-small" v-model="switch2">
                                </el-switch>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Input Numbers:
                                <el-input-number v-model="num1"></el-input-number>
                                <el-input-number size="medium" v-model="num2"></el-input-number>
                                <el-input-number size="small" v-model="num3"></el-input-number>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Input Numbers:
                                <el-input-number controls-position="right" v-model="num1"></el-input-number>
                                <el-input-number controls-position="right" size="medium" v-model="num2">
                                </el-input-number>
                                <el-input-number controls-position="right" size="small" v-model="num3">
                                </el-input-number>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Slider:
                                <el-slider v-model="slider1"></el-slider>
                                <el-slider v-model="slider1" disabled></el-slider>
                                <el-slider v-model="slider1" :step="10" show-stops></el-slider>
                                <el-slider v-model="slider1" :marks="marks"></el-slider>
                            </el-cell>
                        </el-row>
                        <br />
                        <br />
                        <!--###################### SELECT #################-->
                        <el-row>
                            <el-cell>
                                Select:
                                <el-select v-model="select1" placeholder="Select">
                                    <el-option-group v-for="group in options" :key="group.label" :label="group.label">
                                        <el-option v-for="item in group.options" :key="item.value" :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-option-group>
                                </el-select>
                                <el-select v-model="select2" placeholder="Select" size="medium">
                                    <el-option-group v-for="group in options" :key="group.label" :label="group.label">
                                        <el-option v-for="item in group.options" :key="item.value" :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-option-group>
                                </el-select>
                                <el-select v-model="select3" placeholder="Select" size="small">
                                    <el-option-group v-for="group in options" :key="group.label" :label="group.label">
                                        <el-option v-for="item in group.options" :key="item.value" :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-option-group>
                                </el-select>
                            </el-cell>
                        </el-row>
                        <!--###################### CASCADER #################-->
                        <br />
                        <br />
                        <br />
                        <br />
                        <el-row>
                            <el-cell>
                                Cascader:
                                <el-cascader v-model="cascader_value" :options="cascader_options" placeholder="Select">
                                </el-cascader>
                                <el-cascader v-model="cascader_value" size="medium" :options="cascader_options"
                                    placeholder="Select">
                                </el-cascader>
                                <el-cascader v-model="cascader_value" size="small" :options="cascader_options"
                                    placeholder="Select">
                                </el-cascader>
                            </el-cell>
                        </el-row>
                </el-main>
                <!--<el-footer>Footer</el-footer>-->
            </el-container>
        </el-container>
    </div>
</body>
<!-- import Vue before Element -->
<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="scripts/vue.js"></script>
<script src="scripts/elements-ui.js"></script>
<script>
    new Vue({
        el: '#app',
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handTopMenuleSelect(key, keyPath) {
                console.log(key, keyPath);
            }
        },
        data: function () {
            return {
                cascader_value: [],
                cascader_options: [{
                    value: 'guide',
                    label: 'Guide',
                    children: [{
                        value: 'disciplines',
                        label: 'Disciplines',
                    }, {
                        value: 'navigation',
                        label: 'Navigation',

                    }]
                }, {
                    value: 'component',
                    label: 'Component',
                    children: [{
                        value: 'basic',
                        label: 'Basic',
                        children: [{
                            value: 'layout',
                            label: 'Layout'
                        }, {
                            value: 'color',
                            label: 'Color'
                        }, {
                            value: 'typography',
                            label: 'Typography'
                        }, {
                            value: 'icon',
                            label: 'Icon'
                        }, {
                            value: 'button',
                            label: 'Button'
                        }]
                    }, {
                        value: 'form',
                        label: 'Form',
                        children: [{
                            value: 'radio',
                            label: 'Radio'
                        }]
                    }, {
                        value: 'data',
                        label: 'Data',
                        children: [{
                            value: 'table',
                            label: 'Table'
                        }, {
                            value: 'tag',
                            label: 'Tag'
                        }, {
                            value: 'progress',
                            label: 'Progress'
                        }, {
                            value: 'tree',
                            label: 'Tree'
                        }, {
                            value: 'pagination',
                            label: 'Pagination'
                        }, {
                            value: 'badge',
                            label: 'Badge'
                        }]
                    }, {
                        value: 'notice',
                        label: 'Notice',
                        children: [{
                            value: 'alert',
                            label: 'Alert'
                        }, {
                            value: 'loading',
                            label: 'Loading'
                        }, {
                            value: 'message',
                            label: 'Message'
                        }, {
                            value: 'message-box',
                            label: 'MessageBox'
                        }, {
                            value: 'notification',
                            label: 'Notification'
                        }]
                    }, {
                        value: 'navigation',
                        label: 'Navigation',
                        children: [{
                            value: 'menu',
                            label: 'NavMenu'
                        }, {
                            value: 'tabs',
                            label: 'Tabs'
                        }, {
                            value: 'breadcrumb',
                            label: 'Breadcrumb'
                        }, {
                            value: 'dropdown',
                            label: 'Dropdown'
                        }, {
                            value: 'steps',
                            label: 'Steps'
                        }]
                    }]
                }],
                num1: 123,
                num2: 123,
                num3: 123,
                slider1: 23,
                marks: {
                    0: "0",
                    10: "10",
                    20: "20",
                    30: "30",
                    40: "40",
                    50: "50",
                },
                options: [{
                    label: '',
                    options: [{
                        value: 'Shanghai',
                        label: 'Shanghai'
                    }, {
                        value: 'Beijing',
                        label: 'Beijing'
                    }]
                }, {
                    label: '',
                    options: [{
                        value: 'Chengdu',
                        label: 'Chengdu'
                    }, {
                        value: 'Shenzhen',
                        label: 'Shenzhen'
                    }, {
                        value: 'Guangzhou',
                        label: 'Guangzhou'
                    }, {
                        value: 'Dalian',
                        label: 'Dalian'
                    }]
                }],
                select1: "",
                select2: "",
                select3: "",
                switch1: true,
                switch2: false,
                planDrawer: false,
                planDrawerDirection: "rtl",
                input: 'test me',
                isCollapse: true,
                visible: false,
                activeName: 'first',
                radio: '1',
                checked1: true,
                checked2: false,
                circleUrl: "images/avatar.png",
                planDrawerData: [{
                    plan: 'Office 365 Business Essentials',
                    cost: "$4.00",
                    margin: '0%',
                    price: '$4.0',
                }],
                tableData: [{
                    plan: 'Office 365 Business Essentials',
                    period: "1 yr",
                    margin: '18.50%',
                    msrp: '$50.40',
                    actions: ""
                }, {
                    plan: 'Office 365 Business Premium',
                    period: "1 yr",
                    margin: '18.18%',
                    msrp: '$126.00',
                    actions: ""
                }, {
                    plan: 'Office 365 Business Super Pro',
                    period: "1 yr",
                    margin: '11.11%',
                    msrp: '$92.30',
                    actions: ""
                }]
            }
        }
    })
</script>

</html>